.new_card_button{
	display: flex;
	cursor: pointer;
}

.front_template{
	float: left;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 332.16px;
	width: 238.08px;
	border: 2px solid rgb(225,43,42);
	background: rgb(225,43,42);
	border-radius: 10px;
	margin-right: 20px;
	margin-bottom: 10px;
}

.back_template{
	float: left;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 332.16px;
	width: 238.08px;
	border: 2px solid rgb(225,43,42);
	background: rgb(225,43,42);
	border-radius: 10px;
	margin-right: 20px;
	margin-bottom: 10px;
}

.inner_rect{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	height: 317.16px /*312.16px*/;
	width: 223.08px /*218.08px*/;
	border: 2px solid white;
	background: white;
	border-radius: 10px;
}

.question{
	display: flex;
	box-sizing: border-box;
	width: 100%;
	align-items: center;
	justify-content: center;
	text-align: center;
	border: 2px solid white;
	margin-top: 10px;
	height: 40%;
	font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif;
	font-weight: bold;
	background: white;
	cursor: pointer;
}

.option{
	display: flex;
	align-items: center;
	box-sizing: border-box;
	width: calc(100% - 20px);
	border: 2px solid rgb(225,43,42);
	border-radius: 10px;
	padding-right: 10px;
	padding-left: 10px;
	margin-left: 10px;
	background: rgb(225,43,42);
	height: 10%;
	margin-top: 10px;
	color: white;
	font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif;
	cursor: pointer;
}

.answer{
	display: flex;
	align-items: center;
	box-sizing: border-box;
	width: calc(100% - 20px);
	border: 2px solid rgb(225,43,42);
	border-radius: 10px;
	padding-right: 10px;
	padding-left: 10px;
	margin-left: 10px;
	margin-top: 10px;
	background: white;
	height: 10%;
	font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif;
	font-weight: normal;
	cursor: pointer;
}


